@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/fonts/fonts.css");

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
    --background: 228 98.65% 98.26%;
    --foreground: 228 7.3% 0.52%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 228 31.6% 91.3%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 228 12.3% 89.52%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 228 3.65% 95.65%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 228 3.65% 95.65%;
    --accent-foreground: 228 5.38% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #ff8008, #ffc837);

    --background: 20 14.3% 4.1%;
    --foreground: 31 10% 97.6%;

    --muted: 31 50% 15.600000000000001%;
    --muted-foreground: 31 10% 55.2%;

    --popover: 31 45% 6.76%;
    --popover-foreground: 31 10% 97.6%;

    --card: 31 45% 6.76%;
    --card-foreground: 31 10% 97.6%;

    --border: 31 50% 15.600000000000001%;
    --input: 31 50% 15.600000000000001%;

    --primary: 31 100% 52%;
    --primary-foreground: 31 10% 5.2%;

    --secondary: 31 50% 15.600000000000001%;
    --secondary-foreground: 31 10% 97.6%;

    --accent: 31 50% 15.600000000000001%;
    --accent-foreground: 31 10% 97.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 31 10% 97.6%;

    --ring: 31 100% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
